<main class="main">
  <div
    id="home"
    class="home"
    *ngIf="!showKhiopsVisualization && !showKhiopsCovisualization"
  >
    <div class="file">
      <label for=""> Select file </label>
      <div class="input">
        <input
          type="file"
          id="local-file"
          accept=".json"
          autocomplete="off"
          (change)="changeLocalFile($event)"
        />
      </div>
      <div class="btn-footer">
        <button id="show-local" class="btn" (click)="openFromFile()">Ok</button>
      </div>
    </div>
    <div class="link">
      <label for=""> Url to file </label>
      <div class="input">
        <input
          type="text"
          id="link-file"
          placeholder="Url to json file"
          [(ngModel)]="linkFile"
        />
      </div>
      <div class="btn-footer">
        <button id="show-link" class="btn" (click)="openFromUrl()">Ok</button>
      </div>
    </div>
  </div>
  <div id="visu" class="visu">
    <div
      class="btn-container"
      *ngIf="showKhiopsVisualization || showKhiopsCovisualization"
    >
      <button class="btn" id="close-visu" (click)="close()">x</button>
    </div>
    <khiops-visualization
      #visualizationComponent
      *ngIf="showKhiopsVisualization"
    ></khiops-visualization>
    <khiops-covisualization
      #covisualizationComponent
      *ngIf="showKhiopsCovisualization"
    ></khiops-covisualization>
  </div>
</main>
